*{

    box-sizing: border-box;
    margin: 10px;
}
body{
    background-color: black;
}
h2{
    color: gray;
}
.header{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: gray 2px solid;
}

.choices{
    border: solid gray 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
button{
    all: unset;
}

.header img{
    height: 200px;
}
.choices img{
    border: solid gray 2px;
}
.choices{
   
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}