*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    user-select: none;
 /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#d8e0de+0,aebfbc+22,99afab+33,8ea6a2+50,829d98+67,4e5c5a+82,0e0e0e+100;Grey+3D */
    background: rgb(216,224,222); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(216,224,222,1) 0%, rgba(174,191,188,1) 22%, rgba(153,175,171,1) 33%, rgba(142,166,162,1) 50%, rgba(130,157,152,1) 67%, rgba(78,92,90,1) 82%, rgba(14,14,14,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(216,224,222,1) 0%,rgba(174,191,188,1) 22%,rgba(153,175,171,1) 33%,rgba(142,166,162,1) 50%,rgba(130,157,152,1) 67%,rgba(78,92,90,1) 82%,rgba(14,14,14,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(216,224,222,1) 0%,rgba(174,191,188,1) 22%,rgba(153,175,171,1) 33%,rgba(142,166,162,1) 50%,rgba(130,157,152,1) 67%,rgba(78,92,90,1) 82%,rgba(14,14,14,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8e0de', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */

}
h1{
    font-size: 6vw;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px #333;
    color: rgba(255,0,0,.5);
}
.header{
    display: flex;
    justify-content: center;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.game{
    display: none;
    border: solid 2 px gray;
    height: 100%;
    width: 100%;
    background-color: white;

    flex-direction: row;
    
}
#cards{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: fit-content;
    width: 100%;
    margin-bottom: 20px;
        
}

.card{
    margin-left: -6vw;
    height: 10vw;
    width: 10vw;
    flex-shrink: 1;
}

.card img{
    height: 10vw;
    width: 10vw;
}

.score{
    border: solid 5px purple;
    display: flex;
    flex-direction: column;
    
    height: 100%;
    width: fit-content;
    justify-content: space-between;

}
.score div{
    border: solid 2px gray;
    background-color: red;
    height: 6.5vw;
    width: 14vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgb(30,34,43) ;
    padding-bottom: 0%; 

}
.score img{
    height: 2.5vw;
    width: 2.5vw;
}
.board{
    height: 20vw;
    width: 20vw;
    background-color: gray;
    align-self: center;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.table{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    width: 100%;
    height: 100%;
}

.play {
    background-color: black;
    border: white 2px solid;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    font-family: "Press Start 2P";

  }

 .menu{
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
 }
/* some button i googled */
 .wrapper{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  a{
    display: block;
    width: 250px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
    overflow: hidden;
  }
  
  a span{
    position: relative;
    z-index: 2;
  }
  
  a:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgba(255,0,0,.5);
    transition: all .35s;
  }
  
  a:hover{
    color: #fff;
  }
  
  a:hover:after{
    width: 100%;
  }